---
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Let's Program | Blogs" image='' descrption='Blog website where we build content related to web dev'>
    <Main>
        <H1 title="List of blogs" />
    </Main>
</Layout>