---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import H1 from '../components/H1.astro';
---

<Layout title="Let's Program Blog | Home" image='' descrption='Blog website where we build content related to web dev'>
	<Main>
		<H1 title="Home Page" />
	</Main>
</Layout>

