---
import Header from '../components/Header.astro';
interface Props {
	title: string;
	descrption: string;
	image: string;
}

const { title, descrption, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<meta name="description" content={descrption} />
		<title>{title}</title>
	</head>
	<body>
		<Header title="Let's Program Blogs" />
		<slot />
	</body>
</html>
<style is:global>

</style>